<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--TODO 运行多个服务名称 -->
    <!-- 服务的显示名称或运行名称，多个服务名之间用|分隔 如：aa|bb|cc -->
    <add key="ServiceName" value="SNMP Trap|KSafe service|iPod Service|aa"/>
  </appSettings>
</configuration>